/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  background-color: rgb(242, 240, 237);
}

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  margin: 40px auto;
}

.form input {
  width: 280px;
  padding: 10px 14px;

  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  border-color: #22211e;
}

.form button {
  padding: 10px 20px;

  font-size: 16px;
  cursor: pointer;

  border: none;
  border-radius: 6px;
  background-color: #151411;
  color: #fff;
}

.form button:hover {
  background-color: #444444;
}

/**
  |============================================|=============================================*/


.gallery {
  column-count: 3;
  column-gap: 16px;
  padding: 0;
}

@media (max-width: 1024px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .gallery {
    column-count: 1;
  }
}

.card {
  break-inside: avoid;
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}


.card-image {
  width: 100%;
  height: 350px;
  display: block;
}


.card-body {
  padding: 12px 14px;
  background: #474747;
  display: flex;
  gap: 8px;
}

.card-body-title {
  display: flex;
  margin: 0 auto;
  gap: 10px;
}


.card-subtitle {
  font-size: 13px;
  color: #444;
  background: rgb(255, 255, 255);
  padding: 4px 20px;
  border-radius: 6px;
  margin: 0;
}


/**
  |============================================|=============================================*/



.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  position: relative;
  border: 3px solid #FFF;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: #FFF;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 46px;
}

.loader.hidden {
  display: none;
}

.load-btn.hidden {
  display: none;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }

  25% {
    transform: translate(-10px, 10px);
  }

  50% {
    transform: translate(10px, 10px);
  }

  75% {
    transform: translate(10px, -10px);
  }

  100% {
    transform: translate(-10px, -10px);
  }
}

.load-btn{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    width: 500px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #444444;
    color: #fff;
}

.load-btn:hover{
  background-color: #0c0c0c;
}

.load-btn:focus {
  background-color: #acacaa;
}


